header{
  display:block;
  background-color:#FBA826;
  text-align: center;
}
  
h1{
  font-family: "Pacifico", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #f7d6ef; 
  text-shadow: 
    0 0 10px rgba(128, 0, 128, 0.8), /* Dark purple shadow */
    0 0 20px rgba(255, 20, 147, 0.6);
}
nav {
  display:block;
  display:flex;
  justify-content:space-around;
  background-color:#F27999 ;
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;  
}

.card img {
  width: 150px;
  height: auto;
  border: 1px solid pink;
  padding: 2px;
  box-shadow: 0 0 30px pink;
  float: right;
  margin: 1rem;
}
nav a {            
  margin-right: 15px;
  text-decoration: none}
header{
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}
main{ 
  display:grid;
  grid-template-columns: 1.5fr 0.5fr; 
  grid-template-rows: 1fr;
  
}
  
footer p{  
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}
