@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root {
  --heading-font: 'Pacifico', cursive;
  --paragraph-font: 'Itim', cursive;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

h1 {
  font-family: var(--heading-font);
  font-weight: 400;
  font-style: normal;
}

nav a {  
  font-family: var(--paragraph-font);
  font-weight: 400;
  font-style: normal;  
}

header {
  font-family: var(--paragraph-font);
  font-weight: 400;
  font-style: normal;
}

footer p {  
  font-family: var(--paragraph-font);
  font-weight: 400;
  font-style: normal;
}