header{
  display:block;
  background-color:pink;
  text-align: center;
}
  
h1{
  font-family: "Pacifico", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #2f0d46;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 
               0 0 20px rgba(0, 255, 255, 0.6); 
}

nav {
  display:block;
  display:flex;
  justify-content:space-around;
  background-color:red;
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;  
}

header{
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}
main{ 
  display:grid;
  grid-template-columns: 1.5fr 0.5fr; 
  grid-template-rows: 1fr;
  
}
  
footer p{  
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}
