.container{
  max-width:100%
  display:grid ;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: auto auto 1fr  auto;
}

header {
  display: flex;
  background-color: grey;
  color: white ; 
  padding-top: 10px ;
  padding-bottom: 50px;
  padding-left: 15px;
  width:100%;
  grid-row: 1; 
  
}
nav a {
  text-decoration: none;
  color: white; 
}
nav {
  display:flex;
  grid-row: 2;
  background-color: black;
  color: white;
  justify-content: space-around ; 
  width:100%;
  padding: 10px;
  
}
.div{
  display:grid;
  grid-template-columns: 1.5fr 0.5fr; 
  grid-template-rows: 1fr; 
  grid-row: 3; }
main { 
  background-color: gray; 
  padding-bottom: 100px;
}

aside {
  background-color:green;
  padding-bottom: 100px;
}

footer {
  display: flex;
  background-color:black;
  grid-row: 5; 
 justify-content:center;
  color: white;
  padding-top:10px;
  padding-bottom:90px;
  
}

