body {
  max-width: 100%;
  background-color: #fdfdcb; /* Soft Yellow */
}

header {
  background-color: #c54c82; /* Dark Pink */
  text-align: center;
  padding-top: 5px;
}
main{
  display:grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 1fr;
  
  }
h1 {
  font-family: "Pacifico", system-ui;
  font-weight: 400;
  color: #3a270a;
  text-shadow: 
  0 0 10px rgba(247, 120, 247, 0.589), /* Dark purple shadow */
  0 0 20px rgba(255, 255, 255, 0.945);

}

nav {
  max-width: 100%;
  display:block;
  display: flex;
  justify-content: space-around;
  background-color: #ec729c; /* Medium Pink */
  font-family: "Itim", cursive;
  font-weight: 400;
  padding: 18px; 
}

nav a {
  margin-right: 15px;
  font-family: "Itim", cursive;
  color: #000000; /* Dark text */
  text-decoration: none;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

nav a:hover {
  color: #f4aeba; /* Light Pink */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.card {
  background-color: #9772c7; /* Light Pink */
  justify-content: space-between; 
  align-items: center; 
}

.card img { 
  width: 150px;
  height: auto;
  border: 1px solid rgb(250, 250, 248);
  padding: 2px;
  float: right;
  box-shadow: 0 0 30px rgb(252, 255, 57);
  margin: 1rem;
}

h2 {
  font-family: "Pacifico", system-ui;
  font-weight: 400;
  color: #3a270a; 
  text-shadow: 
      0 0 10px rgba(247, 120, 247, 0.589), /* Dark purple shadow */
      0 0 20px rgba(255, 255, 255, 0.945);
}

p {  
  font-family: "Itim", cursive;
  font-weight: 400;
  color:  #fdfdcb;
}

.hk img {
  width: 150px;
  height: auto;
  border: 1px solid rgb(250, 250, 248);
  padding: 2px;
  float: left;
  box-shadow: 0 0 30px rgb(252, 255, 57);
  margin: 1rem;
}

footer {
  display: block;
  width: 100%;
  background-color: #ec729c; /* Medium Pink */
  text-align: center;
}

#year {
  font-family: "Itim", cursive;
  font-weight: 400;
  color: #3a270a;
}

.LastModifiedElement {
  color: #000000; /* Dark text */
}
.link {
  display:flex;
  flex-direction: column;
  }

  nav a:hover {
    color: #f4aeba; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
  }
  .link a {
    margin-right: 15px;
    font-family: "Itim", cursive;
    color: #fdfdcb;
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
  }